<%= form_for("search", :url => search_jobs_path) do |f| %>
  <div>
    <%= f.label :description, 'Search terms' %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.label :full_time, 'Full time only?'%>
    <%= f.check_box :full_time %>
  </div>

  <%= f.submit 'Search' %>

  <div>
    <%= link_to 'Show Full History', show_all_jobs_url %>
  </div>
  <div>
    <%= link_to 'Clear All Results', clear_jobs_url %>
  </div>
<% end %>
